.form-login {
  width: 40%;
  height: 200px;
  text-align: center;
  font-size: 15px;
  color: #fff;
  position: absolute;
  top: 10em;
  left: 20em;
  right: 0;
  bottom: 0;

}
#btncadastro {
  color: #fff;
  background-color: #d44d5c;
  width: 130px;
  cursor: pointer;
}
#btncadastro:hover {
  background-color: #fa2b43;
}
.backcadastro{
  position: relative;

}
