#card_time {
    margin: 20px 20px;
    min-width: 260px;
    display: flex;
    flex-direction: column;
    text-align: center;
    color: white;
    background-color: rgba(119, 51, 68, 0.7);
}

#card_time_github {
    color: white;
}

#card_time_github:hover {
    text-decoration: underline !important;
}

.card_time_nomes {
    font-weight: 700;
}

.card_time_funcao {
    font-style: italic;
}

.card_time_img {
    max-width: 150px;
    align-self: center;
    margin-top: 20px;
}

/* MEDIA QUERIES */

@media screen and (min-width: 768px) {
    #card_time {
        min-height: 380px;
        padding: 20px;
    }

    .sobre_conteudo {
        margin-top: 0;
    }
}

@media screen and (min-width: 1280px) {
}

@media screen and (min-width: 1920px) {
    #card_time {
        font-size: 2vh;
        min-width: 350px;
    }

    .card_time_img {
        min-width: 180px;
    }
}