.container_alterarperfil {
    background-image: url(../../assets/images/backgroundImageCadastro.jpg);
    background-size: cover;
    background-position: center;
    height: fit-content;
    display: flex;
    justify-content: center;
  }
  
  .form_alterarperfil {
    text-align: left;
    font-size: 15px;
    color: #fff;
    display: flex;
    flex-direction: column;
    padding: 50px 20px;
    width: 90%;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 5px;
  }
  
  .label_alterarperfil {
    margin-top: 20px;
    padding-bottom: 5px;
  }
  .input_alterarperfil {
    text-transform: uppercase;
    padding: 5px;
    border: none;
    font-weight: 300;
  }
  /* IDS */
  
  #btn_alterar {
    background-color: #d44d5c;
    color: white;
    border: none;
    width: 70%;
    padding: 15px 30px;
    margin: 30px 0;
    font-size: 2vh;
    font-weight: 700;
    text-transform: uppercase;
    transition: 0.2s ease-in-out;
    align-self: center;
  }
  
  #btncadastro:hover {
    box-shadow: 5px 5px #d44d5c;
    color: #d44d5c;
    background-color: #ffffff;
  }
  
  /* MEDIA QUERIES */
  
  @media screen and (min-width: 768px) {
    .form_alterarperfil {
      width: 75%;
      padding-top: 100px;
      font-size: 1.8vh;
    }
  
    #btn_alterar {
      margin-top: 50px;
    }
  
    .input_alterarperfil {
      padding: 10px;
    }
  }
  
  @media screen and (min-width: 1280px) {
    .form_alterarperfil {
      padding: 50px 50px;
      margin-top: 30px;
      width: 70%;
      height: fit-content;
    }
  
    #btn_alterar {
      font-size: 3vh;
    }
  }
  
  @media screen and (min-width: 1920px) {
    .form_alterarperfil {
      width: 50%;
      margin-top: 100px;
      padding: 80px 60px;
    }
  
    #btn_alterar {
      font-size: 2.5vh;
    }

    .input_alterarperfil,
    .label_alterarperfil {
      font-size: 2vh;
    }
  }
  