/* IDS */
#producer-pageGrid {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr;
}
/* classes */
#producer-empty-reserves {
  grid-column: 1/ 4 span;
  width: 100%;
}
.producer-stat-res-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.reservas-grid-producer {
  display: grid;
  grid-column: 1 / span 4;
  grid-template-columns: 1fr;
}

.producer-stats {
  grid-column: 1 / span 4;
}
.stat {
  display: flex;
  flex: 1;
  flex-direction: column;
  background-color: #f5e9e2;
  align-items: center;
  justify-content: center;
  margin: 20px;
  width: 100%;
}
.btn-alterar_perfil {
  color: black;
  text-transform: uppercase;
}

#editar_perfil_producer:hover {
  text-decoration: underline;
}

#card_producer {
  width: 100%;
  display: flex;
  flex-direction: column;
  line-height: 1.5;
  padding: 30px 20px 40px;
  height: fit-content;
  background-color: #f5e9e2;
}

#card_reserva {
  display: flex;
  flex-direction: column;
  line-height: 1.5;
  height: fit-content;
  width: fit-content;
  background-color: #f5e9e2;
}

#card_body {
  padding: 0;
  flex: 0;
  font-weight: 500;
}

/* CLASSES */

.perfil_producer_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-image: url(../../assets/images/home_chairs.png);
  background-position: center;
  width: 100%;
  background-size: cover;
  min-height: 100vh;
}

.img_card_producer {
  width: 100%;
  max-width: 150px;
  margin-bottom: 20px;
}

/* MEDIA QUERIES */

@media screen and (min-width: 768px) {
  #card_producer {
    width: 100%;
    width: fit-content;
  }
  #producer-pageGrid {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 0.8fr 2fr;
    margin-right: 20px;
  }
  .reservas-grid-producer {
    display: grid;
    grid-column: 1 / span 4;
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 1024px) {
  #card_producer {
    width: 100%;
    flex-direction: row;
    font-size: 2vh;
  }
  #producer-pageGrid {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 0.8fr 2fr;
  }

  .reservas-grid-producer {
    display: grid;
    grid-column: 1 / span 4;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .card_expand {
    padding: 30px 10px 40px 30px;
    text-align: left;
  }
}

@media screen and (min-width: 1920px) {
  .perfil_producer_container {
    font-size: 2vh;
  }
  .reservas-grid-producer {
    display: grid;
    grid-column: 1 / span 4;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
