#logo {
  width: 100%;
  max-width: 150px;
  padding: 0;
  margin: 5px;
}

#navbar_container {
<<<<<<< HEAD
  background-color: #773344;
  color: #f5e9e2 !important;
}

.nav-link {
  color: white !important;
}
=======
    background-color: #773344;
    color: #F5E9E2 !important;
}

.nav-link {
    color: white !important;
  }
>>>>>>> e96c7018151e2610f7a7d22c34d94b2d5d42751c
