#logo {
  width: 100%;
  max-width: 150px;
  padding: 0;
  margin: 5px;
}

#navbar_container {
  background-color: #773344;
  color: #f5e9e2 !important;
}

.nav-link, .nav-item {
  color: white !important;
  text-decoration: none;
  padding: 5px;
}

.nav-link:hover {
  text-decoration: underline;
}

.navfake {
  display: none;
}

@media screen and (min-width: 768px) {
  .navbar-toggler {
    display: none;
  }

  .navfake {
    display: flex;
    flex-direction: row;
  }

  #navbar-container {
    display: flex;
    flex-direction: row;
  }
  .navbar {
    flex-wrap: nowrap;
  }

  .navbar-nav {
    flex-direction: row;
    justify-content: flex-end;
  }

  .nav-item {
    justify-content: space-between;
    margin: 0 15px;
    color: white !important;
    text-decoration: none;
  }
}

@media screen and (min-width: 1280px) {
    #navbar_container {
      font-size: 2.5vh;
    }
}

@media screen and (min-width: 1920px) {
    #navbar_container {
      font-size: 2.2vh;
    }
}
