.home_producer_container {
  display: flex;
  height: 100vh;
  width: 100%;
}

.home_producer_background {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.72) 63.16%,
      rgba(0, 0, 0, 0) 100%
    ),
    url("../../assets/images/home_chairs.png");
  mix-blend-mode: normal;
}

.home_producer_background h1 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 56px;
  text-align: center;
  letter-spacing: -0.015em;

  color: #ffffff;
}
.home_producer_sidebar {
  display: flex;
  background: #e5e5e5;
  height: 100%;
  width: 30vw;
  flex-direction: column;
}

.home_producer_sidebar header {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #773344;
  color: white;
}

.home_producer_sidebar main {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #e5e5e5;
  color: black;
  padding: 30px;
}

.home_producer_sidebar .form-group {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 1rem;
}

.home_producer_sidebar label {
  flex: 1;
}

.home_producer_sidebar input {
  height: 2rem;
  font-size: 16px;
  padding: 0.5rem;
  background: #ffffff;
  border: 0.5px solid #9c9c9c;
  box-sizing: border-box;
  box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.25);
  border-radius: 1px;
}
.home_producer_sidebar select {
  height: 2.5rem;
  font-size: 16px;
  padding: 0.5rem;
  background: #ffffff;
  border: 0.5px solid #9c9c9c;
  box-sizing: border-box;
  box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.25);
  border-radius: 1px;
}

.form-submit {
  text-align: center;
}

.form-submit button {
  width: 206px;
  height: 41px;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 33px;
  text-align: center;
  color: #ffffff;
  background: #d44d5c;
  border-radius: 2px;
  border: none;
}
