.sobre_container {
    background-image: url(../../assets/images/home_chairs.png);
    height: fit-content;
    padding-bottom: 50px;
    margin-top: 0;
}

.sobre_conteudo {
    margin: 0px 30px;
    line-height: 1.5;
    align-self: center;
}

#sobre_texto {
    color: white;
    padding: 40px 10px;
    font-size: 3vh;
    text-align: center;
}

.sobre_container_cards {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* MEDIA QUERIES */

@media screen and (min-width: 768px) {
    .sobre_container {
        background-repeat: round;
    }

    .sobre_container_cards {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    #sobre_texto {
        max-width: 500px;
        align-self: center;
        font-size: 1.9vh;
        text-align: center;
        line-height: 1.5;
        margin-bottom: 0;
    }

    .sobre_conteudo {
        display: flex;
        flex-direction: column;
        margin-top: 40px;
        height: 100%;
    }
}

@media screen and (min-width: 1280px) {
    #sobre_texto {
        margin-top: 30px;
        font-size: 2.5vh;
        max-width: 700px;
    }
    .sobre_conteudo {
        height: 100vh;
        min-width: 600px;
    }
}

@media screen and (min-width: 1920px) {
    .sobre_container {
        background-repeat: no-repeat;
        background-size: cover;
    }

    #sobre_texto {
        min-width: 750px;
        margin-top: 60px;
        font-size: 3vh;
    }
}